code[class*='language-'],
pre[class*='language-'] {
    color: var(--c--theme-fg);
    background: var(--c--gray-25);
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.2;
    tab-size: 4;
    hyphens: none;
}

pre[class*='language-'] {
    padding: var(--l--space-s);
    overflow: auto;
    border-radius: var(--l--border-radius);
}

p code,
li code {
    padding: 0.1em 0.25em;
    background: var(--c--gray-25);
    word-break: break-all;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: var(--c--gray-500);
}

.token.punctuation {
    color: var(--c--gray-700);
}

.token.selector,
.token.tag {
    color: var(--c--blue-600);
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
    color: var(--c--blue-600);
}

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
    color: var(--c--green-700);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: var(--c--green-700);
}

.token.atrule,
.token.keyword {
    color: var(--c--blue-500);
}

.token.function {
    color: var(--c--gray-500);
}

.token.regex,
.token.important,
.token.variable {
    color: var(--c--blue-500);
}

.token.important,
.token.bold {
    font-weight: var(--t--font-weight-bold);
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}
