.c--theme-dark {
    --c--theme-bg: #16161d;
    --c--theme-bg-transparent: rgba(21, 21, 29, 0.9);
    --c--theme-fg: #f2f2f2;
    --c--theme-primary: hsl(200, 79%, 70%);

    /* primary */
    --c--theme-primary-1: hsl(200, 20%, 10%);
    --c--theme-primary-2: hsl(200, 51%, 40%);
    --c--theme-primary-3: hsl(200, 79%, 70%);
    --c--theme-primary-4: hsl(200, 90%, 85%);
    --c--theme-primary-5: hsl(200, 100%, 95%);

    /* grays */
    --c--theme-gray-1: hsl(240, 7%, 15%);
    --c--theme-gray-2: hsl(240, 7%, 35%);
    --c--theme-gray-3: hsl(240, 7%, 50%);
    --c--theme-gray-4: hsl(240, 7%, 80%);
    --c--theme-gray-5: hsl(240, 8%, 95%);

    /* semantic */
    --c--theme-positive-1: #133C27;
    --c--theme-positive-2: #1C4F33;
    --c--theme-positive-3: #266647;
    --c--theme-positive-4: #3B8566;
    --c--theme-positive-5: #59A083 ;

    --c--theme-negative: #c0392b;
}

.c--theme-light {
    --c--theme-bg: #fff;
    --c--theme-bg-transparent: rgba(255, 255, 255, 0.9);
    --c--theme-fg: #20202b;
    --c--theme-primary: #00f;

    /* primary */
    --c--theme-primary-1: #f4f4ff;
    --c--theme-primary-2: #6565ff;
    --c--theme-primary-3: #00f;
    --c--theme-primary-4: #009;
    --c--theme-primary-5: #003;

    /* grays */
    --c--theme-gray-1: hsl(240, 9%, 98%);
    --c--theme-gray-2: hsl(206, 7%, 80%);
    --c--theme-gray-3: hsl(210, 7%, 50%);
    --c--theme-gray-4: hsl(210, 7%, 35%);
    --c--theme-gray-5: hsl(206, 7%, 20%);

    /* semantic */
    --c--theme-positive-1: #B6FFDB;
    --c--theme-positive-2: #91E4B8;
    --c--theme-positive-3: #5CB883;
    --c--theme-positive-4: #318350;
    --c--theme-positive-5: #104B24;

    --c--theme-negative: #e74c3c;
}

.c--gray {
    color: var(--c--theme-gray-4);
}

.c--bg-gray-1 {
    background-color: var(--c--theme-gray-1);
}
