/* stylelint-disable */
@font-face {
  font-family: 'charter';
  font-display: 'fallback';
  src: url('/fonts/charter_regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
font-family: 'charter';
font-display: 'fallback';
src: url('/fonts/charter_italic.woff2') format('woff2');
font-weight: 400;
font-style: italic;
}

@font-face {
font-family: 'charter';
font-display: 'fallback';
src: url('/fonts/charter_bold.woff2') format('woff2');
font-weight: 700;
font-style: normal;
}

@font-face {
font-family: 'charter';
font-display: 'fallback';
src: url('/fonts/charter_bold_italicwoff2') format('woff2');
font-weight: 700;
font-style: italic;
}

@font-face {
font-family: 'Inter';
font-display: 'fallback';
src: url('/fonts/InterVariable.woff2') format('woff2-variations');
font-feature-settings: 'liga' 1, 'calt' 1, 'ss03' 1, 'cv06' 1;
size-adjust: 91%;
font-weight: 100 1000;
font-style: normal;
}

@font-face {
font-family: 'Inter';
font-display: 'fallback';
src: url('/fonts/InterVariable-Italic.woff2') format('woff2-variations');
font-feature-settings: 'liga' 1, 'calt' 1, 'ss03' 1, 'cv06' 1;
size-adjust: 91%;
font-weight: 100 1000;
font-style: italic;
}

@font-face {
font-family: 'Geist Mono';
font-display: 'fallback';
src: url('/fonts/GeistMonoVariableVF.woff2') format('woff2-variations');
size-adjust: 88%;
font-weight: 100 1000;
}