/* stylelint-disable */
@font-face {
  font-family: 'charterVariable';
  font-display: 'fallback';
  src: url('/fonts/charter_variable.woff2') format('woff2-variations');
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
font-family: 'charterVariable';
font-display: 'fallback';
src: url('/fonts/charter_variable_italic.woff2') format('woff2');
font-weight: 400 700;
font-style: italic;
}

@font-face {
font-family: 'Inter';
font-display: 'fallback';
src: url('/fonts/InterVariable.woff2') format('woff2-variations');
font-feature-settings: 'liga', 'calt', 'ss03', 'cv06';
size-adjust: 92%;
font-weight: 100 1000;
font-style: normal;
}

@font-face {
font-family: 'Inter';
font-display: 'fallback';
src: url('/fonts/InterVariable-Italic.woff2') format('woff2-variations');
font-feature-settings: 'liga', 'calt', 'ss03', 'cv06';
size-adjust: 92%;
font-weight: 100 1000;
font-style: italic;
}

@font-face {
font-family: 'Geist Mono';
font-display: 'fallback';
src: url('/fonts/GeistMonoVariableVF.woff2') format('woff2-variations');
size-adjust: 90%;
font-weight: 100 1000;
}