/* stylelint-disable */
@font-face {
    font-family: 'charter';
    font-display: 'fallback';
    src: url('/fonts/charter_regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
  font-family: 'charter';
  font-display: 'fallback';
  src: url('/fonts/charter_italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'charter';
  font-display: 'fallback';
  src: url('/fonts/charter_bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'monaspace neon';
  font-display: 'fallback';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/MonaspaceNeon-Regular.woff') format('woff');
}

@font-face {
  font-family: 'monaspace neon';
  font-display: 'fallback';
  src: url('/fonts/MonaspaceNeon-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

