:root {
    /* Grid configuration */
    --l--grid-width-narrow: 42rem;
    --l--grid-width-wide: 66rem;

    /* Border radius */
    --l--border-radius: 2px;

    /* Z indexes */
    --l--z-lowest: -9999;
    --l--z-lower: -100;
    --l--z-low: -10;
    --l--z-base: 0;
    --l--z-high: 10;
    --l--z-higher: 100;
    --l--z-highest: 9999;

    /* Spacing definitions */
    --l--space-l: 7rem;
    --l--space-m: 3rem;
    --l--space-s: 1.25rem;
}

/* General spacing guide */
body * + * {
    margin-top: var(--l--space-s);
}

.l--space-compact * + * {
    margin-top: 0.5em;
}

.l--space-flush * + * {
    margin-top: 0;
}

li + li,
br + *,
* + br,
table * + * {
    margin-top: 0;
}

.l--grid {
    display: grid;
    grid-template-columns:
        [full-start] minmax(1rem, 1fr)
        [wide-start] minmax(0, calc((var(--l--grid-width-wide) - var(--l--grid-width-narrow)) / 2))
        [narrow-start] var(--l--grid-width-narrow) [narrow-end]
        minmax(0, calc((var(--l--grid-width-wide) - var(--l--grid-width-narrow)) / 2)) [wide-end]
        minmax(1rem, 1fr) [full-end];
}

.l--grid-narrow {
    grid-column: narrow;
}

.l--grid-wide {
    grid-column: wide;
}

.l--grid-full {
    grid-column: full;
}

.l--grid-pull-left {
    grid-column-start: wide-start;
    grid-column-end: narrow-start;
}

.l--grid-pull-right {
    grid-column-start: wide-end;
    grid-column-end: narrow-end;
}

.l--grid-push-left {
    grid-column-start: wide-start;
    grid-column-end: narrow-end;
}

.l--grid-push-right {
    grid-column-start: narrow-start;
    grid-column-end: wide-end;
}

.l--flex {
    display: flex;
}

[class*='l--flex-'] {
    margin-top: 0;
}

[class*='l--flex-']:not(:first-child) {
    margin-left: 1rem;
}

.l--flex-auto {
    flex: 1;
}

.l--flex-onethird {
    flex: 0 1 33.33%;
}

.l--flex-twothirds {
    flex: 0 1 66.67%;
}

/* Spacing utility */

.l--pad-l {
    padding: var(--l--space-l);
}
.l--pad-m {
    padding: var(--l--space-m);
}
.l--pad-s {
    padding: var(--l--space-s);
}
.l--pad-none {
    padding: 0;
}

.l--pad-top-l {
    padding-top: var(--l--space-l);
}
.l--pad-top-m {
    padding-top: var(--l--space-m);
}
.l--pad-top-s {
    padding-top: var(--l--space-s);
}

.l--pad-right-l {
    padding-right: var(--l--space-l);
}
.l--pad-right-m {
    padding-right: var(--l--space-m);
}
.l--pad-right-s {
    padding-right: var(--l--space-s);
}

.l--pad-btm-l {
    padding-bottom: var(--l--space-l);
}
.l--pad-btm-m {
    padding-bottom: var(--l--space-m);
}
.l--pad-btm-s {
    padding-bottom: var(--l--space-s);
}

.l--pad-left-l {
    padding-left: var(--l--space-l);
}
.l--pad-left-m {
    padding-left: var(--l--space-m);
}
.l--pad-left-s {
    padding-left: var(--l--space-s);
}

.l--mar-l {
    margin: var(--l--space-l);
}
.l--mar-m {
    margin: var(--l--space-m);
}
.l--mar-s {
    margin: var(--l--space-s);
}
.l--mar-none {
    margin: 0;
}

.l--mar-top-l {
    margin-top: var(--l--space-l);
}
.l--mar-top-m {
    margin-top: var(--l--space-m);
}
.l--mar-top-s {
    margin-top: var(--l--space-s);
}
.l--mar-top-none {
    margin-top: 0;
}

.l--mar-right-l {
    margin-right: var(--l--space-l);
}
.l--mar-right-m {
    margin-right: var(--l--space-m);
}
.l--mar-right-s {
    margin-right: var(--l--space-s);
}

.l--mar-btm-l {
    margin-bottom: var(--l--space-l);
}
.l--mar-btm-m {
    margin-bottom: var(--l--space-m);
}
.l--mar-btm-s {
    margin-bottom: var(--l--space-s);
}

.l--mar-left-l {
    margin-left: var(--l--space-l);
}
.l--mar-left-m {
    margin-left: var(--l--space-m);
}
.l--mar-left-s {
    margin-left: var(--l--space-s);
}

hr {
    border-color: var(--c--theme-gray-2);
}

figure figcaption {
    margin-top: 0.5em;
    color: var(--c--theme-gray-4);
}
