:root {
    /* Grid configuration */
    --l--grid-width-narrow: 40rem;
    --l--grid-width-wide: 60rem;

    /* Border radius */
    --l--border-radius-s: 0.5rem;
    --l--border-radius: 1rem;
    --l--border-radius-l: 2rem;

    /* Z indexes */
    --l--z-lowest: -9999;
    --l--z-lower: -100;
    --l--z-low: -10;
    --l--z-base: 0;
    --l--z-high: 10;
    --l--z-higher: 100;
    --l--z-highest: 9999;

    /* Spacing definitions */
    --l--space-l: 6rem;
    --l--space-m: 3rem;
    --l--space-s: 1.25rem;
    --l--space-xs: 0.75rem;
}

/* General spacing guide */
body * + * {
    margin-top: var(--l--space-s);
}

.l--space-compact * + * {
    margin-top: calc(var(--l--space-s) / 2);
}

.l--space-flush * + * {
    margin-top: 0;
}

li + li,
br + *,
* + br,
table * + * {
    margin-top: 0;
}

.l--grid {
    display: grid;
    grid-template-columns:
        [full-start] minmax(1rem, 1fr)
        [wide-start] minmax(0, calc((var(--l--grid-width-wide) - var(--l--grid-width-narrow)) / 2))
        [narrow-start] var(--l--grid-width-narrow) [narrow-end]
        minmax(0, calc((var(--l--grid-width-wide) - var(--l--grid-width-narrow)) / 2)) [wide-end]
        minmax(1rem, 1fr) [full-end];
    gap: 0 1rem;
}

@media (max-width: 800px) {
    .l--grid {
        margin: 0;
        padding: 0 1rem;
        grid-template-columns:
            [full-start wide-start medium-start narrow-start]
            minmax(1rem, 1fr) [narrow-end medium-end wide-end full-end];
    }
}

.l--grid-narrow {
    grid-column: narrow;
}

.l--grid-wide {
    grid-column: wide;
}

.l--grid-full {
    grid-column: full;
}

.l--grid-pull-left {
    grid-column-start: wide-start;
    grid-column-end: narrow-start;
}

.l--grid-pull-right {
    grid-column-start: wide-end;
    grid-column-end: narrow-end;
}

.l--grid-push-left {
    grid-column-start: wide-start;
    grid-column-end: narrow-end;
}

.l--grid-push-right {
    grid-column-start: narrow-start;
    grid-column-end: wide-end;
}

.l--flex {
    display: flex;
}

@media (max-width: 800px) {
    .l--flex {
        flex-flow: column;
    }
}

[class*='l--flex-'] {
    margin-top: 0;
}

[class*='l--flex-']:not(:first-child) {
    margin-left: var(--l--space-s);
}

.l--space-compact > [class*='l--flex-']:not(:first-child) {
    margin-left: calc(var(--l--space-s) / 2);
}

@media (max-width: 800px) {
    [class*='l--flex-']:not(:first-child) {
        margin-left: 0;
        margin-top: var(--l--space-s);
    }

    .l--space-compact > [class*='l--flex-']:not(:first-child) {
        margin-left: 0;
        margin-top: calc(var(--l--space-s) / 2);
    }
}

.l--flex-auto { flex: 1; }
.l--flex-half { flex: 0 1 50%; }
.l--flex-onethird { flex: 0 1 33.33%; }
.l--flex-twothirds { flex: 0 1 66.67%; }

/* Spacing utility */

.l--pad-l { padding: var(--l--space-l); }
.l--pad-m { padding: var(--l--space-m); }
.l--pad-s { padding: var(--l--space-s); }
.l--pad-xs { padding: var(--l--space-xs); }
.l--pad-none { padding: 0; }

.l--pad-block-l { padding-block: var(--l--space-l); }
.l--pad-block-m { padding-block: var(--l--space-m); }
.l--pad-block-s { padding-block: var(--l--space-s); }
.l--pad-block-xs { padding-block: var(--l--space-xs); }
.l--pad-block-none { padding-block: 0; }

.l--pad-inline-l { padding-inline: var(--l--space-l); }
.l--pad-inline-m { padding-inline: var(--l--space-m); }
.l--pad-inline-s { padding-inline: var(--l--space-s); }
.l--pad-inline-xs { padding-inline: var(--l--space-xs); }
.l--pad-inline-none { padding-inline: 0; }

.l--pad-top-l { padding-top: var(--l--space-l); }
.l--pad-top-m { padding-top: var(--l--space-m); }
.l--pad-top-s { padding-top: var(--l--space-s); }
.l--pad-top-xs { padding-top: var(--l--space-xs); }
.l--pad-top-none { padding-top: 0; }

.l--pad-right-l { padding-right: var(--l--space-l); }
.l--pad-right-m { padding-right: var(--l--space-m); }
.l--pad-right-s { padding-right: var(--l--space-s); }
.l--pad-right-xs { padding-right: var(--l--space-xs); }
.l--pad-right-none { padding-right: 0; }

.l--pad-btm-l { padding-bottom: var(--l--space-l); }
.l--pad-btm-m { padding-bottom: var(--l--space-m); }
.l--pad-btm-s { padding-bottom: var(--l--space-s); }
.l--pad-btm-xs { padding-bottom: var(--l--space-xs); }
.l--pad-btm-none { padding-bottom: 0; }

.l--pad-left-l { padding-left: var(--l--space-l); }
.l--pad-left-m { padding-left: var(--l--space-m); }
.l--pad-left-s { padding-left: var(--l--space-s); }
.l--pad-left-xs { padding-left: var(--l--space-xs); }
.l--pad-left-none { padding-left: 0; }

.l--mar-l { margin: var(--l--space-l); }
.l--mar-m { margin: var(--l--space-m); }
.l--mar-s { margin: var(--l--space-s); }
.l--mar-xs { margin: var(--l--space-xs); }
.l--mar-none { margin: 0; }

.l--mar-block-l { margin-block: var(--l--space-l); }
.l--mar-block-m { margin-block: var(--l--space-m); }
.l--mar-block-s { margin-block: var(--l--space-s); }
.l--mar-block-xs { margin-block: var(--l--space-xs); }
.l--mar-block-none { margin-block: 0; }

.l--mar-inline-l { margin-inline: var(--l--space-l); }
.l--mar-inline-m { margin-inline: var(--l--space-m); }
.l--mar-inline-s { margin-inline: var(--l--space-s); }
.l--mar-inline-xs { margin-inline: var(--l--space-xs); }
.l--mar-inline-none { margin-inline: 0; }

.l--mar-top-l { margin-top: var(--l--space-l); }
.l--mar-top-m { margin-top: var(--l--space-m); }
.l--mar-top-s { margin-top: var(--l--space-s); }
.l--mar-top-xs { margin-top: var(--l--space-xs); }
.l--mar-top-none { margin-top: 0; }

.l--mar-right-l { margin-right: var(--l--space-l); }
.l--mar-right-m { margin-right: var(--l--space-m); }
.l--mar-right-s { margin-right: var(--l--space-s); }
.l--mar-right-xs { margin-right: var(--l--space-xs); }
.l--mar-right-none { margin-right: 0; }

.l--mar-btm-l { margin-bottom: var(--l--space-l); }
.l--mar-btm-m { margin-bottom: var(--l--space-m); }
.l--mar-btm-s { margin-bottom: var(--l--space-s); }
.l--mar-btm-xs { margin-bottom: var(--l--space-xs); }
.l--mar-btm-none { margin-bottom: 0; }

.l--mar-left-l { margin-left: var(--l--space-l); }
.l--mar-left-m { margin-left: var(--l--space-m); }
.l--mar-left-s { margin-left: var(--l--space-s); }
.l--mar-left-xs { margin-left: var(--l--space-xs); }
.l--mar-left-none { margin-left: 0; }

hr {
    margin: var(--l--space-m);
    border-color: var(--c--theme-gray-2);
}

.l--rounded-corners {
    border-radius: var(--l--border-radius);
}

.l--rounded-corners-l {
    border-radius: var(--l--border-radius-l);
}

.l--border-style-solid { border-style: solid;}
.l--border-width-s { border-width: 1px; }
.l--border-none { border: 0; }

.l--border-top-style-solid { border-top-style: solid;}
.l--border-top-width-s { border-top-width: 1px; }
.l--border-top-none { border-top: 0; }

.l--border-right-style-solid { border-right-style: solid;}
.l--border-right-width-s { border-right-width: 1px; }
.l--border-right-none { border-right: 0; }

.l--border-btm-style-solid { border-bottom-style: solid;}
.l--border-btm-width-s { border-bottom-width: 1px; }
.l--border-btm-none { border-bottom: 0; }

.l--border-left-style-solid { border-left-style: solid;}
.l--border-left-width-s { border-left-width: 1px; }
.l--border-left-none { border-left: 0; }
