<div class="email l--space-compact l--mar-block-l">
    <h3 class="email--header t--size-m t--weight-medium c--gray-900">Join the mailing list</h3>
    <p class="c--theme-text-secondary t--leading-tight">
        I'll send new posts to your inbox, along with links to related content
        and a song recommendation or two.
    </p>

    <form
        class="email-form l--space-flush l--mar-top-s"
        name="newsletter"
        method="POST"
        data-netlify="true"
        netlify-honeypot="bot-field"
    >
        <div hidden aria-hidden="true">
            <label
                >Don’t fill this out if you're human: <input name="bot-field"
            /></label>
        </div>
            <label for="email" class="sr-only"
                >Email</label
            >
        <div class="field">
            <input
                type="email"
                name="email"
                placeholder="name@example.com"
                id="email"
                required
            />

        </div>
        <button
            class="button button--primary form--submit-inline"
            type="submit"
        >
            Subscribe
        </button>
    </form>
</div>
