<footer class="l--grid">
  <div class="l--grid-narrow">
    <div class="footer--inner l--space-flush">
      <div class="t--size-s t--weight-medium t--tracking-tight">
        Matt Ström-Awn
      </div>
      <div class="footer--menu">
        <a href="/feed.xml" class="unstyled">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="feather feather-rss"
            viewBox="0 0 24 24"
          >
            <path d="M4 11a9 9 0 0 1 9 9M4 4a16 16 0 0 1 16 16" />
            <circle cx="5" cy="19" r="1" />
          </svg>
          RSS</a
        >
        <a
          href="https://bsky.app/profile/mattstromawn.bsky.social"
          rel="me noopener"
          target="_blank"
          class="unstyled"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="auto"
            height="1em"
            viewBox="0 0 600 530"
          >
            <path
              fill="currentColor"
              d="M135.72 44.03C202.216 93.951 273.74 195.17 300 249.49c26.262-54.316 97.782-155.54 164.28-205.46C512.26 8.009 590-19.862 590 68.825c0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.38-3.69-10.832-3.708-7.896-.017-2.936-1.193.516-3.707 7.896-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.45-163.25-81.433C20.15 217.613 9.997 86.535 9.997 68.825c0-88.687 77.742-60.816 125.72-24.795z"
            />
          </svg>
          Bluesky
        </a>

        <a href="" class="unstyled">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
            <g fill="none" fill-rule="evenodd">
              <path
                fill="currentColor"
                d="M8 72h56a8 8 0 0 0 8-8V8a8 8 0 0 0-8-8H8a8 8 0 0 0-8 8v56a8 8 0 0 0 8 8Z"
              />
              <path
                fill="var(--c--theme-bg)"
                d="M62 62H51.316V43.802c0-4.99-1.896-7.777-5.845-7.777-4.296 0-6.54 2.901-6.54 7.777V62H28.632V27.333H38.93v4.67s3.096-5.729 10.453-5.729c7.353 0 12.617 4.49 12.617 13.777V62ZM16.35 22.794c-3.508 0-6.35-2.864-6.35-6.397C10 12.864 12.842 10 16.35 10c3.507 0 6.347 2.864 6.347 6.397 0 3.533-2.84 6.397-6.348 6.397ZM11.032 62h10.736V27.333H11.033V62Z"
              />
            </g>
          </svg>
          LinkedIn
        </a>
        <a
          href="m&#97;&#105;&#108;&#116;o&#58;ma&#116;thew&#46;%&#54;8%2E&#37;73tr%6&#70;m&#64;%6&#55;m%&#54;&#49;i&#108;&#37;2E&#37;63om"
          class="unstyled"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
            ></path>
            <polyline points="22,6 12,13 2,6"></polyline>
          </svg>
          Email
        </a>
      </div>
    </div>
  </div>
</footer>
