<footer class="l--grid l--mar-top-xl">
  <div class="l--grid-narrow">
    <div class="footer--inner l--space-flush">
      <div class="t--weight-medium l--mar-btm-m t--tracking-tight">Matt Ström-Awn</div>
      <div class="l--flex">
        <div class="footer--menu">
          <a
            href="https://bsky.app/profile/mattstromawn.bsky.social"
            rel="me noopener"
            target="_blank"
            >Bluesky</a
          >
          <a href="/feed.xml">RSS</a>
          <a
            href="m&#97;&#105;&#108;&#116;o&#58;ma&#116;thew&#46;%&#54;8%2E&#37;73tr%6&#70;m&#64;%6&#55;m%&#54;&#49;i&#108;&#37;2E&#37;63om"
            >Email</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
