<aside class="readMore l--mar-top-l">
  <div class="sectionHeader">
    <div class="sectionHeader--name">Keep reading</div>
    <div class="sectionHeader--divider"></div>
    <div class="sectionHeader--link">
      <a href="/writing">All writing {% linkArrow %}</a>
    </div>
  </div>
  <div class="l--mar-top-m">
      {% if nextPost.url %}
        {% stub nextPost true true %}
      {% endif %}
  </div>
  <div class="">
      {% if prevPost.url %}
        {% stub prevPost true true %}
      {% endif %}
  </div>
</aside>