<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Matthew Ström: designer &amp; developer</title>
    <link type="application/atom+xml" rel="alternate" href="https://matthewstrom.com/feed.xml" title="Matthew Ström">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <main class="l--container">
        <div class="row">
            {{ content }}
        </div>
    </main>
</body>

</html>
