<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if og.description %}
        <meta name="description" content="{{ og.description }}">
    {% else %}
        <meta name="description" content="I speak and write about product design, front-end code, leadership, and (occasionally) math.">
    {% endif %}
    <title>{% if title %} {{title}} || {% endif %}Matthew Ström: designer &amp; developer</title>
    <link type="application/atom+xml" rel="alternate" href="https://matthewstrom.com/feed.xml" title="Matthew Ström">
    <link rel="stylesheet" href="/css/main.css">
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            document.querySelector('body').classList = localStorage.getItem('theme') || 'c--theme-light';
        });
    </script>
    <script defer src="/js/main.js"></script>
    {% if layout == "layouts/book.html" %}
        <meta property="og:title" content="A review of {{ title }} by {{ author }}" />
        <meta property="og:url" content="https://matthewstrom.com{{ page.url }}" />
        <meta property="og:image" content="https://matthewstrom.com{{ cover }}" />
        <meta property="og:article:published_time" content="{{ date }}" />
        <meta property="og:article:author" content="Matthew Ström" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:creator"content="@ilikescience" />
    {% else if og %}
        <meta property="og:title" content="{{ og.title }}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="https://matthewstrom.com{{ page.url }}" />
        <meta property="og:image" content="https://matthewstrom.com{{ og.image }}" />
        <meta property="og:image:width" content="{{ og.image_width }}" />
        <meta property="og:image:height" content="{{ og.image_height }}" />
        <meta property="og:description" content="{{ og.description }}" />
        <meta property="og:article:published_time" content="{{ date }}" />
        <meta property="og:article:author" content="Matthew Ström" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:creator"content="@ilikescience" />
    {% endif %}
    {% if external and external_url %}
        <link rel="canonical" href="{{external_url}}"/>
    {% endif %}
</head>

<body>
    <nav class="l--space-flush {% if cover %}has-cover{% endif %} l--grid l--mar-top-s">
        <div class="nav--container l--grid-wide">
            <a href="/" class="nav--logo">
                <svg viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="25" cy="25" r="20"/>
                </svg>
                <div>Matthew Ström</div>
            </a>

            <div class="nav--menu">
                <a href="/writing" class="{% if activePage == "writing" %}active{% endif %}">Writing</a>
                <a href="/reading" class="{% if activePage == "reading" %}active{% endif %}">Reading</a>
                <a href="/speaking" class="{% if activePage == "speaking" %}active{% endif %}">Speaking</a>
                <a href="#" class="nav--theme-switcher" aria-label="Switch color themes">
                    <svg viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                        <g class="switcher--icon switcher--icon-light">
                            <path d="M18.866 3.866A22.01 22.01 0 0 0 18 10c0 12.15 9.85 22 22 22a22.01 22.01 0 0 0 6.134-.866C43.478 40.299 35.022 47 25 47 12.85 47 3 37.15 3 25 3 14.978 9.7 6.522 18.866 3.866z"/>
                        </g>
                        <g class="switcher--icon switcher--icon-dark">
                            <circle cx="25" cy="25" r="14"/><path d="M.605 19.177l1.236-3.804L8.5 17.536 7.263 21.34zM41.501 32.464l1.236-3.804 6.658 2.163-1.236 3.804zM11.923 46.4l-3.236-2.35 4.115-5.664 3.236 2.352zM37.198 11.614l-3.236-2.352L38.077 3.6l3.236 2.351zM41.313 44.05l-3.236 2.35-4.115-5.662 3.236-2.352zM16.038 9.262l-3.236 2.352L8.687 5.95l3.236-2.35zM48.159 15.373l1.236 3.804-6.658 2.163-1.236-3.804zM7.263 28.66l1.236 3.804-6.658 2.163-1.236-3.804zM23 0h4v7h-4zM23 43h4v7h-4z"/>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
    </nav>
    {% if layout != 'layouts/project.html' %}
    <main class="l--grid">
        {{ content }}
    </main>
    {% else %}
    <main class="project">
        {{ content }}
    </main>
    {% endif %}
    <footer class="l--mar-top-m l--mar-btm-s l--grid">
        <div class="l--grid-wide">
            <div>
                <hr class="l--mar-btm-s" />
            </div>
            <div>
                <div class="footer-menu">
                    <span>© 2020</span> ·
                    <a href="https://twitter.com/ilikescience" rel="me noopener" target="_blank">Twitter</a> · 
                    <a href="/feed.xml">RSS</a> ·
                    <a href="mailto:matthew.h.strom@gmail.com">Email</a>
                </div>
            </div>
        </div>
    </footer>   

</body>
</html>
