<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Matthew Ström: designer &amp; developer</title>
    <link type="application/atom+xml" rel="alternate" href="https://matthewstrom.com/feed.xml" title="Matthew Ström">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/themeSwitcher.js"></script>
</head>

<body class="c--theme-light">
    <nav class="header-nav l--space-flush">
        <div class="l--container">
            <div class="l--row">
                <a href="/" class="nav--logo">
                    <svg viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="25" cy="25" r="20"/>
                    </svg>
                </a>
                <div class="nav--menu">
                    <a href="#">About</a>
                    <a href="#">Writing</a>
                    <a href="#">Speaking</a>
                    <a href="#" class="nav--theme-switcher">
                            <svg viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.866 3.866A22.01 22.01 0 0 0 18 10c0 12.15 9.85 22 22 22a22.01 22.01 0 0 0 6.134-.866C43.478 40.299 35.022 47 25 47 12.85 47 3 37.15 3 25 3 14.978 9.7 6.522 18.866 3.866z"/>
                            </svg>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <main class="l--container">
            {{ content }}
    </main>
</body>

</html>
