---
layout: layouts/default.html
---

<header class="l--grid-wide t--align-center">
    <div class="l--mar-top-m l--space-compact">
        <h1 class="t--weight-normal">
            {{ title }}
        </h1>
        <p class="c--gray">{{ page.date | date: '%B %d, %Y'}} · {{ content | readingTime}} min read</p>
    </div>
</header>
{%if hero %}
    <div class="l--grid-wide">
        <img src="{{hero}}">
    </div>
{% else %}
<div class="l--grid-narrow">
    <hr class="l--mar-top-s l--mar-btm-s" />
</div>
{% endif %}
<article class="post l--grid-narrow">
    {{ content }}
</article>

<aside class="l--grid-narrow">
    {%- include components/latest.html -%}
</aside>
<aside class="l--grid-narrow">
    {%- include components/email.html -%}
</aside>