---
layout: layouts/default.html
---

<header class="l--grid-narrow">
    <div class="l--mar-top-l l--mar-btm-s l--space-compact">
        <h1 class="t--weight-normal">
            {{ title }}
        </h1>
        <p class="c--gray">{{ page.date | date: '%B %d, %Y'}} · {{ content | readingTime}} min read</p>
    </div>
</header>
<div class="l--grid-narrow">
    <hr/>
</div>
<article class="post l--grid-narrow">
    {{ content }}
</article>
{%- if tags.size > 1 -%}
    <aside class="l--space-compact l--mar-top-m l--mar-btm-m l--grid-narrow">
        {%- assign related = '' -%}
        {%- assign relatedPost = '' -%}
        {%- for tag in tags -%}
            {%- if tag == 'writing' -%}
            {%- else -%}
                {%- assign related = tag -%}
            {%- endif -%}
        {%- endfor -%}
        {%- if collections[related].size > 0 -%}
            <div>More writing about <strong>{{related}}:</strong></div>
            {%-  for post in collections[related] -%}
                {%- unless post.url == page.url -%}
                    {%- assign relatedPost = post -%}
                {%- endunless -%}
            {%- endfor -%}
        {%- endif -%}
        <h2>
            {%- if relatedPost.data.external -%}
                <a href="{{ relatedPost.data.external_url }}" target="blank" rel="noopener">{{ relatedPost.data.title }}</a> &nearr;
            {%- else -%}
                <a href="{{ relatedPost.url }}">{{ relatedPost.data.title }}</a>
            {%- endif -%}
        </h2>
        <div class="c--gray">Published {{ relatedPost.date | date: "%m/%d/%y" }}</div>
    </aside>
{%- endif -%}
<aside class="l--grid-narrow">
    {%- include components/email.html -%}
</aside>