<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} || Matthew Ström: designer &amp; developer</title>
    <link type="application/atom+xml" rel="alternate" href="https://matthewstrom.com/feed.xml" title="Matthew Ström">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/themeSwitcher.js"></script>
    {% if og %}
        <meta property="og:title" content="{{ og.title }}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="{{ url | absolute_url }}" />
        <meta property="og:image" content="{{ og.image | absolute_url }}" />
        <meta property="og:image:width" content="{{ og.image_width }}" />
        <meta property="og:image:height" content="{{ og.image_height }}" />
        <meta property="og:description" content="{{ og.description }}" />
        <meta property="og:article:published_time" content="{{ date }}" />
        <meta property="og:article:author" content="Matthew Ström" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:creator"content="@ilikescience" />
    {% endif %}
</head>

<body class="c--theme-light">
    <nav class="header-nav l--space-flush">
        <div class="l--container">
            <div class="l--row">
                <a href="/" class="nav--logo">
                    <svg viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="25" cy="25" r="20"/>
                    </svg>
                </a>
                <div class="nav--menu">
                    <a href="#">About</a>
                    <a href="#">Writing</a>
                    <a href="#">Speaking</a>
                    <a href="#" class="nav--theme-switcher">
                            <svg viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                                <g class="switcher--icon-light">
                                    <path d="M18.866 3.866A22.01 22.01 0 0 0 18 10c0 12.15 9.85 22 22 22a22.01 22.01 0 0 0 6.134-.866C43.478 40.299 35.022 47 25 47 12.85 47 3 37.15 3 25 3 14.978 9.7 6.522 18.866 3.866z"/>
                                </g>
                                <g class="switcher--icon-dark">
                                        <circle cx="25" cy="25" r="14"/><path d="M.605 19.177l1.236-3.804L8.5 17.536 7.263 21.34zM41.501 32.464l1.236-3.804 6.658 2.163-1.236 3.804zM11.923 46.4l-3.236-2.35 4.115-5.664 3.236 2.352zM37.198 11.614l-3.236-2.352L38.077 3.6l3.236 2.351zM41.313 44.05l-3.236 2.35-4.115-5.662 3.236-2.352zM16.038 9.262l-3.236 2.352L8.687 5.95l3.236-2.35zM48.159 15.373l1.236 3.804-6.658 2.163-1.236-3.804zM7.263 28.66l1.236 3.804-6.658 2.163-1.236-3.804zM23 0h4v7h-4zM23 43h4v7h-4z"/>
                                </g>
                            </svg>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <main class="l--container">
        <header>
            <div class="l--mar-top-m l--space-compact">
                <h1>
                    {{ title }}
                </h1>
                <p class="c--gray">Originally published {{ page.date | date: '%B %d, %Y'}}</p>
                </div>
            </div>
        </header>
        <div>
            <svg width="100%" height="1em"><defs><pattern id="vwxix" patternUnits="userSpaceOnUse" width="6" height="6"><circle cx="3" cy="3" r="1" fill="#999" stroke="#999" stroke-width="0"></circle></pattern></defs> <rect width="100%" height="100%" style="fill: url(&quot;#vwxix&quot;);" /></svg>
        </div>
        <article class="post">
            {{ content }}
        </article>
        {%- if tags.size > 1 -%}
            <aside class="l--space-compact l--mar-top-m l--mar-btm-l">
                {%- assign related = '' -%}
                {%- assign relatedPost = '' -%}
                {%- for tag in tags -%}
                    {%- if tag == 'writing' -%}
                    {%- else -%}
                        {%- assign related = tag -%}
                    {%- endif -%}
                {%- endfor -%}
                {%- if collections[related].size > 0 -%}
                    <div>More writing about <strong>{{related}}:</strong></div>
                    {%-  for post in collections[related] -%}
                        {%- unless post.url == page.url -%}
                            {%- assign relatedPost = post -%}
                        {%- endunless -%}
                    {%- endfor -%}
                {%- endif -%}
                <h2>
                    <a href="{{ relatedPost.url }}">{{ relatedPost.data.title }}</a>
                </h2>
                <div class="c--gray">Published {{ relatedPost.date | date: "%m/%d/%y" }}</div>
            </aside>
        {%- endif -%}
    </main>
</body>

</html>
