#copying-hero {
    width: 100%;
    height: auto;
}

.copying--hero-container {
    margin: 0;
    padding: clamp(1em, 3vw, 3em);
    padding-bottom: clamp(1.5em, 4vw, 3em);
}

.copying-subtitle {
    text-align: center;
    color: var(--c--theme-fg);
    font-size: clamp(1rem, 2.5vw, 1.3rem); 
}

.copying--contents {
    font-size: var(--t--size-s);
    color: var(--c--theme-text-secondary);
    margin-top: var(--l--space-s);
}

.copying--contents ol {
    list-style-type: upper-roman;
    padding-left: 1rem;
    margin-top: 0;
}

.copying--chapter {
    font-size: var(--t--size-xxl);
    font-family: var(--t--family-serif);
    color: var(--c--theme-text-secondary);
    margin-top: var(--l--space-m);
}

.copying figure {
    margin: var(--l--space-m) 0;
}

.copying figure figcaption {
    font-size: var(--t--size-s);
    color: var(--c--theme-text-secondary);
}

.copying--quote {
    font-size: var(--t--size-l);
    font-family: var(--t--family-serif);
    font-weight: var(--t--weight-bold);
    color: var(--c--theme-text-secondary);
    line-height: 1.2em;
}