.book--title {
    display: inline-block;
}

.book--favorite {
    display: inline-block;
    color: var(--c--theme-gray-2);
}

.year + .index--item {
    margin-top: var(--l--space-s);
}

.year h2{
    font-size: 1.25rem;
}
