.book--title {
    display: inline-block;
}

.book--favorite {
    display: inline-block;
    color: var(--c--gray-100);
}

.year + .index--item {
    margin-top: var(--l--space-s);
}

.year h2 {
    line-height: var(--t--base-line-height);
}
