.project--section {
    margin: var(--l--space-m) 0;
    padding: var(--l--space-s) 0;
}

.project figcaption {
    border-top: 1px solid var(--c--theme-gray-2);
    padding-top: calc(var(--l--space-s) / 2);
    font-size: var(--t--size-s);
    color: var(--c--theme-gray-3);
}

.project--related-post {
    padding: var(--l--space-s);
    background: var(--c--theme-gray-1);
}

.project figure * + * {
    margin-top: 0;
}

.project figure {
    margin: calc(var(--l--space-m) * 1.5) 0;
}