.button {
    display: inline-block;
    padding: 0.75em 1em;
    border-radius: var(--l--border-radius-s);
}

.button--primary {
    background: var(--c--theme-primary);
    color: var(--c--theme-bg);
}
