.cover {
    display: flex;
    height: 90vh;
    padding: var(--l--space-s);
    background: var(--c--theme-bg);
    color: var(--c--theme-fg);
    justify-content: center;
    align-items: center;
}

.c--theme-dark .cover {
    background: var(--c--theme-gray-1);
}