.cover {
    display: flex;
    height: 90vh;
    padding: var(--l--space-s);
    background: var(--c--theme-bg);
    color: var(--c--theme-fg);
    justify-content: center;
    align-items: center;
}

.c--theme-dark .cover {
    background: var(--c--theme-gray-1);
}

.cover--sidebar {
    color: var(--c--theme-gray-3);
    padding-top: var(--l--space-s);
}

@media (min-width: 600px) {
    .cover [class^=l--col]:not(:first-child) {
        margin-left: var(--l--space-s);
    }

    .cover--sidebar {
        padding-left: var(--l--space-s);
        border-left: 1px solid var(--c--theme-gray-3);
        align-self: flex-end;
    }
}

@media (max-width: 600px) {
    .cover {
        padding-top: var(--l--space-m);
    }
}