.email p {
    font-family: var(--t--family-sans);
}

.email-form {
    display: flex;
    gap: 0 1em;

    & button {
        flex: 0 1 auto;
    }

    & .field {
        flex: 1 1 auto;
    }

    & input {
        width: 100%;
        margin-top: 0;
    }
}

@media (--l--breakpoint-s) {
    .button {
        padding: calc(var(--l--space-xs) * 2) 0;
        font-size: var(--t--size-m);
        margin-top: calc(var(--l--space-xs) * 2);
    }
    .email-form {
        flex-direction: column;

        & input {
                    font-size: var(--t--size-m);

        }
    }
}