.email-form {
    display: flex;
    gap: 0 1em;

    & button {
        flex: 0 1 auto;
    }

    & .field {
        flex: 1 0 auto;
    }

    & input {
        width: 100%;
        margin-top: 0;
    }

    @media (max-width: 400px) {
        flex-direction: column;
    }
}
