/* stylelint-disable declaration-no-important */
/* stylelint-disable selector-type-no-unknown */

mjx-container[jax='SVG'] > svg {
    max-width: 100%;
}

mjx-container mjx-assistive-mml {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
}

.post figure {
    margin: var(--l--space-m) 0;
}

.post figure + p {
    margin-top: 0;
}

.figure--credit {
    font-size: var(--t--size-xs);
    vertical-align: baseline;
}

figure figcaption {
    margin-top: 0.5em;
    color: var(--c--theme-text-secondary);
}

.c--theme-light .figure--themeable-dark {
    display: none;
}

.c--theme-dark .figure--themeable-light {
    display: none;
}