/* stylelint-disable declaration-no-important */
/* stylelint-disable selector-type-no-unknown */

mjx-container[jax='SVG'] > svg {
    max-width: 100%;
}

mjx-container mjx-assistive-mml {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
}

.figure--credit {
    font-size: var(--t--size-xs);
    vertical-align: middle;
}

figure figcaption {
    margin-top: 0.5em;
    color: var(--c--theme-gray-3);
}
