.footnote-ref a,
.footnote-backref {
    color: var(--c--theme-primary);
    font-family: var(--t--family-sans);
    font-size: 0.75em;
    text-decoration: none;
}

.footnotes p,
.footnotes ol {
    font-family: var(--t--family-sans);
    font-size: 1rem;
    margin-top: 0.25rem;
}

.footnotes {
    color: var(--c--theme-gray-3);

    & a {
        word-break: break-all;
        hyphens: auto;
    }

    & ol {
        padding: 0;

        @media (max-width: 1024px) {
            padding-left: 0.5em;
        }
    }

    & li {
        &:target {
            background-color: var(--c--theme-primary-1);
        }
    }
}
