form * + * {
    margin-top: 0;
}

input {
    padding: 0.25em 0.5em;
    font-size: var(--t--base-size);
    line-height: var(--t--base-leading);
}

label {
    display: block;
    margin-bottom: calc(var(--l--space-s) / 2);
    color: var(--c--theme-gray-4);
}

.form--success {
    padding: var(--l--space-s);
    background: var(--c--theme-positive-1);
}

.form--submit-inline {
    margin-left: var(--l--space-s);

    @media only screen and (max-width: 600px) {
        padding: calc(var(--l--space-s) / 2) 0;
        margin-top: calc(var(--l--space-s) / 2);
        margin-left: 0;
    }
}

