.field {
    position: relative;
}

input {
    padding: 0.75em;
    font-size: var(--t--size-s);
    line-height: 1;
    border: 0;
    font-family: inherit;
    appearance: none;
    border-radius: var(--l--border-radius-s);
    background-color: var(--c--gray-25);
    color: var(--c--theme-fg);
    transition: background-color 100ms ease-out;
}

input:hover {
    background-color: var(--c--gray-50);
    transition: background-color 50ms ease-out;
}

input:focus {
    outline: 0;
    box-shadow: 0 0 0 3px var(--c--blue-100);
    background-color: var(--c--gray-50);
}

label {
    position: absolute;
    bottom: 1.25em;
    left: 0;
    margin-top: 0;
    color: var(--c--gray-600);
    font-size: var(--t--size-s);
    line-height: 1;
    transition: opacity 100ms ease-out;
}

input:placeholder-shown + label {
    cursor: text;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: translate(0.75em, 0.5em);
}

::placeholder {
    opacity: 0;
    transition: opacity 100ms ease-out;
    color: var(--c--gray-300);
}

input:focus::placeholder {
    opacity: 1;
}

input:not(:placeholder-shown) + label,
input:focus + label {
    opacity: 0;
}

.field:hover input,
input:focus {
    border-color: var(--c--blue-100);
}

.form--success {
    padding: var(--l--space-xs);
    flex: 1;
    background: var(--c--green-50);
    color: var(--c--green-700);
    font-size: var(--t--size-s);
    border-radius: var(--l--border-radius-s);
}
