.nav--container {
    display: flex;
    margin-left: -0.25rem;
    justify-content: flex-start;
    align-items: center;
}

.nav--logo {
    font-weight: 500;
}

.nav--container a {
    display: flex;
    padding: 0.25rem;
    text-decoration: none;
    border-radius: 0.25rem;

    &.nav--theme-switcher {
        border-radius: 50%;
    }

    &:hover {
        text-decoration: none;
        background: var(--c--blue-25);

        & svg {
            stroke: var(--c--blue-500);
            fill: var(--c--blue-500);
        }
    }
}


.nav--theme-switcher,
.nav--menu-toggle {
    display: block;
    & svg {
        width: 1.1em;
        height: 1.1em;
        stroke: var(--c--gray-500);
        fill: var(--c--gray-500);
    }
}

body.c--theme-light {
    & .switcher--icon-light {
        visibility: visible;
    }
    & .switcher--icon-dark {
        visibility: hidden;
    }
}

body.c--theme-dark {
    & .switcher--icon-light {
        visibility: hidden;
    }

    & .switcher--icon-dark {
        visibility: visible;
    }
}

nav.has-cover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

nav.has-cover + main {
    margin-top: 0;
}
