.stub {
  display: block;
  text-decoration: none;
}

.stub:has(.stub--content) + .stub {
  margin-top: var(--l--space-m);
}

.stub:not(:has(.stub--content)) + .stub {
  margin-top: var(--l--space-xs);
}
  .stub--title,
  .stub--date {
    display: inline-block;
    margin: 0;
    vertical-align: baseline;
  }

  .stub--header {
    display: flex;
    gap: var(--l--space-s);
    justify-content: flex-start;
    align-items: baseline;
  }

  .stub--title {
    margin: 0;
    font-size: var(--t--size-m);
    font-weight: var(--t--weight-medium);
    transition: color 200ms ease-out;
  }

  .stub--date {
    font-family: var(--t--family-mono);
    color: var(--c--theme-text-secondary);
    font-weight: var(--t--weight-normal);
    font-feature-settings: "ss09" 1, "ss03" 1;
  }

  .stub--content {
    color: var(--c--theme-text-secondary);
    margin-top: var(--l--space-xs);
    line-height: var(--t--leading-tight);
  }

  .stub:hover .stub--title {
    color: var(--c--blue-500);
    transition-duration: 25ms;
  }

  @media (--l--breakpoint-s) {
    .stub--header {
      flex-direction: column;
      gap: 0;
    }
  }

.stub--project {
  position: relative;
  border-radius: var(--l--border-radius-m);
}
