.table-of-contents {
    position: relative;
    padding: calc(var(--l--space-s) + 1.5em) var(--l--space-s) var(--l--space-s);
    background: var(--c--theme-gray-1);
    font-family: var(--t--family-sans);
    border-radius: var(--l--border-radius);

    &::before {
        content: 'Contents';
        position: absolute;
        top: var(--l--space-s);
        left: var(--l--space-s);
        text-transform: uppercase;
        font-weight: var(--t--weight-bold);
        font-size: 0.8em;
    }

    & ol {
        margin: 0;
        padding-left: 0;
        font-family: var(--t--family-sans);
        list-style: none;

        & ol {
            list-style-type: none;
            padding-left: var(--l--space-s);
        }
    }

    & a {
        text-decoration: none;
        border-bottom: 1px solid var(--c--theme-gray-2);
    }
}
