---
layout: layouts/default.html
eleventyExcludeFromCollections: true
---

<h1>I like to share.</h1>
<p>I regularly give talks on product design, strategy, accessibility, inclusivity, and mathematical curiosities.</p>

<p>In addition to speaking at conferences, I sometimes coach companies and their staff privately. If you'd be interested in a workshop or lecture, <a href="mailto:matthew.h.strom@gmail.com">let's talk!</a></p>

<h2>Upcoming events</h2>
<p class="c--gray">No events scheduled!</p>

<h2>Past events</h2>
<div class="posts l--space-flush">
    <div class="post">
        <span class="c--gray l--mar-right-s t--numbers-tabular">10/15/18</span>
        <span>Tech Inclusion SF</span>
    </div>
    <div class="post">
        <span class="c--gray l--mar-right-s t--numbers-tabular">09/18/18</span>
        <span>Design Driven NYC <a href="https://www.youtube.com/watch?v=Av8GXFcqOqc" rel="noopener" target="_blank">(video)</a></span>
    </div>
    <div class="post">
        <span class="c--gray l--mar-right-s t--numbers-tabular">05/27/18</span>
        <span>Tech Inclusion NYC</span>
    </div>
    <div class="post">
        <span class="c--gray l--mar-right-s t--numbers-tabular">08/15/17</span>
        <span>Data Storytelling NY</span>
    </div>
    <div class="post">
        <span class="c--gray l--mar-right-s t--numbers-tabular">11/02/16</span>
        <span>Graphical Web 2016: Tiny Data Visualizations <a href="https://slides.com/matthewstrom/tinycharts" rel="noopener" target="_blank">(slides)</a></span>
    </div>
    <div class="post">
        <span class="c--gray l--mar-right-s t--numbers-tabular">10/09/16</span>
        <span>OpenCamp 2016: Datum Ipsum <a href="https://slides.com/matthewstrom/datumipsum" rel="noopener" target="_blank">(slides)</a></span>
    </div>
    <div class="post">
        <span class="c--gray l--mar-right-s t--numbers-tabular">07/21/16</span>
        <span>Brooklyn.JS: WebVR with aframe.js</span>
    </div>
    <div class="post">
        <span class="c--gray l--mar-right-s t--numbers-tabular">01/25/16</span>
        <span>D3.js NYC: Tiny Data visualizations</span>
    </div>
    <div class="post">
        <span class="c--gray l--mar-right-s t--numbers-tabular">04/18/13</span>
        <span>Pecha Kucha: The Creatives Must Be Crazy <a href="https://www.youtube.com/watch?v=xpb_0Tadu6g" rel="noopener" target="_blank">(video)</a></span>
    </div>
</div>