---
layout: layouts/default.html
---

<div class="l--grid-wide l--flex l--mar-top-l l--mar-btm-s ">
    <div class="l--flex-onethird">
        <img src="{{cover}}" alt="The cover of {{title}}" class="l--pad-right-s" loading="lazy">
    </div>
    <div class="l--flex-twothirds">
        <header class="l--space-flush l--mar-top-m l--mar-btm-s">
            <h1 class="t--weight-normal book--title l--mar-top-none">
                {{ title }}
            </h1>
            <h2 class="t--weight-normal t--family-sans c--theme-text-secondary l--mar-btm-none">
                {{ subtitle }}
            </h2>
            <p class="c--theme-text-secondary">
                by {{ author }}  
                {% if favorite %}
                    <span class="book--favorite">&starf;</span>
                {% endif %}
            </p>
        </header>
        <article>
            <div class="post l--mar-top-s">
                {{ content }}
            </div>
        </article>
    </div>
</div>