<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/favicon.png" />
    {% if og.description %}
        <meta name="description" content="{{ og.description }}">
    {% else %}
        <meta name="description" content="I speak and write about product design, front-end code, leadership, and (occasionally) math.">
    {% endif %}
    <title>{% if title %} {{title}} || {% endif %}Matthew Ström, designer-leader</title>
    <link type="application/atom+xml" rel="alternate" href="https://matthewstrom.com/feed.xml" title="Matthew Ström">
    <link rel="stylesheet" href="/css/main.css">
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            document.querySelector('body').classList = localStorage.getItem('theme') || 'c--theme-light';
        });
    </script>
    <script defer src="/js/main.js"></script>
    {% if layout == "layouts/book.html" %}
        <meta property="og:title" content="A review of {{ title }} by {{ author }}" />
        <meta property="og:url" content="https://matthewstrom.com{{ page.url }}" />
        <meta property="og:image" content="https://matthewstrom.com{{ cover }}" />
        <meta property="og:article:published_time" content="{{ date }}" />
        <meta property="og:article:author" content="Matthew Ström" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:creator"content="@ilikescience" />
    {% else if layout == "layouts/post.html" and og %}
        <meta property="og:title" content="{{ og.title }}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="https://matthewstrom.com{{ page.url }}" />
        {% if og.image %}
            <meta property="og:image" content="https://matthewstrom.com{{ og.image }}" />
            <meta property="og:image:width" content="{{ og.image_width }}" />
            <meta property="og:image:height" content="{{ og.image_height }}" />
        {% else %}
            <meta property="og:image" content="https://mhs-og.netlify.app/og/headline={{ og.title }}/subhead={{ og.subtitle }}" />
            <meta property="og:image:width" content="1200" />
            <meta property="og:image:height" content="675" />
        {% endif %}
        <meta property="og:description" content="{{ og.description }}" />
        <meta property="og:article:published_time" content="{{ date }}" />
        <meta property="og:article:author" content="Matthew Ström" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:creator"content="@ilikescience" />
    {% endif %}
    {% if external and external_url %}
        <link rel="canonical" href="{{external_url}}"/>
    {% endif %}
</head>

<body>
    {% include '../components/nav.html' %}
    {% if layout != 'layouts/project.html' %}
    <main class="l--grid">
        {{ content }}
    </main>
    {% else %}
    <main class="project">
        {{ content }}
    </main>
    {% endif %}
    <footer class="l--mar-top-m l--mar-btm-s l--grid">
        <div class="l--grid-wide">
            <div>
                <hr class="l--mar-btm-s" />
            </div>
            <div>
                <div class="footer-menu">
                    <span>© 2022</span> ·
                    <a href="https://twitter.com/ilikescience" rel="me noopener" target="_blank">Twitter</a> · 
                    <a href="/feed.xml">RSS</a> ·
                    <a href="mailto:matthew.h.strom@gmail.com">Email</a>
                </div>
            </div>
        </div>
    </footer>   

</body>
</html>
