---
layout: layouts/default.html
---

<header class="l--grid-narrow">
    <div class="l--mar-top-l l--mar-btm-m l--space-compact">
        <h1 class="t--family-sans t--weight-medium t--size-xl t--tracking-tight">
            {{ title }}
        </h1>
        {% if subtitle %}
            <h2 class="t--size-l c--theme-text-secondary t--family-sans t--weight-medium l--mar-top-none">
                {{ subtitle }}
            </h2>
        {% endif %}
        <p class="c--theme-text-secondary t--size-s l--mar-top-none">{{ page.date | date: '%b %d, %Y'}} · {{ content | readingTime}} min read</p>
    </div>
</header>
{%if hero %}
    <div class="l--grid-wide">
        <img src="{{hero}}" class="l--rounded-corners">
    </div>
{% else %}
{% endif %}
<article class="post l--grid-narrow">
    {{ content }}
</article>
<aside class="l--grid-narrow">
    {%- include "components/latest.html" -%}
</aside>