---
layout: layouts/default.html
---

<header class="l--grid-wide t--align-center">
    <div class="l--mar-block-m l--space-compact">
        <h1 class="t--weight-normal t--family-sans">
            {{ title }}
        </h1>
        {% if subtitle %}
            <h2 class="t--size-l t--family-sans t--weight-normal c--gray l--mar-btm-s">
                {{ subtitle }}
            </h2>
        {% endif %}
        <p class="c--gray">{{ page.date | date: '%B %d, %Y'}} · {{ content | readingTime}} min read</p>
    </div>
</header>
{%if hero %}
    <div class="l--grid-wide">
        <img src="{{hero}}" class="l--rounded-corners">
    </div>
{% else %}
{% endif %}
<article class="post l--grid-narrow">
    {{ content }}
</article>

<aside class="l--grid-narrow">
    {%- include "components/latest.html" -%}
</aside>
<aside class="l--grid-narrow">
    {%- include "components/email.html" -%}
</aside>