---
layout: layouts/default.html
---

<div class="l--grid">
  <div class="l--grid-narrow">
    <header class="l--mar-top-l l--mar-btm-m l--space-compact">
      <h1 class="t--family-sans t--weight-medium t--size-xl t--tracking-tight">
        {{ title }}
      </h1>
      {% if subtitle %}
      <h2
        class="t--size-l c--theme-text-secondary t--family-sans t--weight-medium l--mar-top-none"
      >
        {{ subtitle }}
      </h2>
      {% endif %}
    </header>
  </div>
  <div class="l--grid-wide project--hero">
    {% if hero %}
    <img src="{{hero}}" class="l--rounded-corners" />
    {% else %}
    <img src="/assets/images/hero.jpg" class="l--rounded-corners" />
    {% endif %}
  </div>
  <div class="l--grid--narrow">
  {{ content }}
  </div>
</div>
