---
layout: layouts/home.html
eleventyExcludeFromCollections: true
---
<div class="l--grid-wide">
    <div class="l--flex">
        <div class="l--flex-auto t--align-center">
            <img class="l--mar-btm-none" src="/images/ethics_head.jpg">
            <h1 class="t--weight-normal l--mar-top-none">Ethics for Designers</h1>
            <p><em>Ethics for Designers</em> is a series of essays on the history of ethics, tailored to the practice of design in the 21st century.</p>
        </div>
        <div class="l--flex-auto">
            <nav class="table-of-contents">
                <ol>
                    <li>
                        <span class="c--gray">March 30, 2020</span><br/>
                        <a href="/ethics/know-thyself"><span class="ethics--toc-numeral">I</span>The unexamined life</a>
                    </li>
                    <li>
                        <a href="/ethics/know-thyself">Virtue ethics</a>
                    </li>
                    <li>
                        <a href="/ethics/know-thyself">Deontology</a>
                    </li>
                    <li>
                        <a href="/ethics/know-thyself">Consequentialism</a>
                    </li>
                    <li>
                        <a href="/ethics/know-thyself">Care ethics</a>
                    </li>
                    <li>
                        <a href="/ethics/know-thyself">Know thyself</a>
                    </li>
        </div>
    </div>
</div>