---
layout: layouts/home.html
eleventyExcludeFromCollections: true
---

{% for post in collections.writing | reverse %}
    {% if post.date|year != lastDate|default('0', true) %}
        {% if loop.index > 1 %}
                </div>
            </div>
        {% endif %}
        <div class="year l--space-compact">
            <h2>{{post.date|year}}</h2>
            <div class="posts l--space-flush">
            {% set lastDate = post.date|year %}
    {% endif %}
    <div class="post">
        <span class="c--gray l--mar-right-s t--numbers-tabular">{{ post.date | date('MM/DD/YY') }}</span>
    <span>
        <a href="{{ post.url }}"> 
            {{ post.data.title }} 
        </a>
    </span>
</div>
{% endfor %}