---
layout: layouts/home.html
eleventyExcludeFromCollections: true
---
{% for post in collections.writing | reverse %}
    {% if post.date | year != lastDate | default('0', true) %}
        <div class="year l--grid-pull-left l--mar-top-s">
        <h2 class="l--mar-top-none">{{post.date|year}}</h2>
        {% set lastDate = post.date | year %}
        </div>
    {% endif %}
    <div class="post l--grid-narrow l--mar-top-none index--item">
        <span class="c--gray l--mar-right-s t--numbers-tabular">{{ post.date | date('MM/DD/YY') }}</span>
        <a class="index--title t--family-serif" href="{{ post.url }}">{{ post.data.title }}</a>
    </div>
{% endfor %}