---
layout: layouts/home.html
eleventyExcludeFromCollections: true
---

<header class="h-card l--mar-top-m l--grid-wide l--mar-btm-l">
    <div class="l--space-compact">
        <h1 class="t--size-xxl t--family-serif t--leading-small t--tracking-tight t--weight-normal">
            I'm <a class="t--decoration-none" href="https://matthewstrom.com" class="u-url" rel="me noopener">Matthew Ström</a>.
        </h1>
        <p>
            I lead design at <a href="https://simplehealth.com" target="_blank" rel="noopener">Simple Health.</a> Previously, I led design teams at Bitly, The Wall Street Journal and SoundCloud.
        </p>
    </div>
</header>

<div class="l--mar-top-m l--grid-wide l--flex l--space-compact">
    <div class="l--space-compact l--flex-auto">
        <strong>Latest essay</strong>
        {%- for post in collections.writing | reverse %}
            {%- if loop.index0 == 0 -%}
                <div class="post">
                    {%- if post.data.og.image -%}
                        <a href="{{ post.url }}">
                            <img src="{{post.data.og.image}}">
                        </a>
                    {%- endif -%}
                    <h2>
                        <a class="t--decoration-none t--weight-normal" href="{{ post.url }}">
                            {{ post.data.title }}
                        </a>
                    </h2>
                </div>
            {%- elif loop.index0 < 4 -%}
            {%- endif -%}
        {%- endfor -%}
        <div>
            <a href="/writing">All writing &rarr;</a>
        </div>
    </div>
    <div class="l--space-compact l--flex-auto">
        <strong>Latest talk</strong>
        <div>
            <a href="https://noti.st/mattstrom/BESHjt/designing-change">
                <img src="/images/designing-change.jpg">
            </a>
        </div>
        <h2>
            <a class="t--decoration-none t--weight-normal" rel="noopener" target="_blank" href="https://noti.st/mattstrom/BESHjt/designing-change">Designing change</a>
        </h2>
        <div>
            <a href="/speaking">All speaking &rarr;</a>
        </div>
    </div>
</div>