---
layout: layouts/home.html
eleventyExcludeFromCollections: true
---

<header class="h-card l--mar-top-m l--grid-wide">
    <div class="l--space-compact">
        <h1 class="t--size-xl t--family-serif t--leading-small t--tracking-tight t--weight-bold">
            I'm <a href="https://matthewstrom.com" class="u-url" rel="me noopener">Matthew Ström</a>.
        </h1>
        <p>
            I'm a design lead at <a href="https://bit.ly" target="_blank" rel="noopener">Bitly</a>. Previously, I led design teams at The Wall Street Journal and SoundCloud.
        </p>
    </div>
</header>

<div class="l--mar-top-m l--grid-wide l--flex">
<div class="l--space-flush l--flex-auto">
    <strong>Latest case study</strong>
</div>
<div class="l--space-flush l--flex-auto">
    <strong>Latest essay</strong>
    {%- for post in collections.writing | reverse %}
        {%- if loop.index0 == 0 -%}
            <div class="post l--mar-top-s l--mar-btm-s">
                <div class="c--gray t--numbers-tabular">{{ post.date | date('MM/DD/YY') }}</div>
                <h2>
                    <a href="{{ post.url }}"> 
                        {{ post.data.title }} 
                    </a>
                </h2>
            </div>
        {%- elif loop.index0 < 4 -%}
        {%- endif -%}
    {%- endfor -%}
    <div>
        <a href="/writing">All writing &rarr;</a>
    </div>
</div>
<div class="l--space-flush l--flex-auto">
    <strong>Latest talk</strong>
    <div class="l--mar-top-s l--mar-btm-s">
        <div class="c--gray l--mar-right-s t--numbers-tabular">06/06/19</div>  
        <h2><a rel="noopener" target="_blank" href="https://noti.st/mattstrom/BESHjt/designing-change">Front Utah: Designing Change</a> </h2>
    </div>
        <a href="/speaking">All speaking &rarr;</a>
    </div>
</div>
