---
layout: layouts/home.html
eleventyExcludeFromCollections: true
---

<div class="l--grid-narrow l--flex">
    <div class="posts l--space-flush">
        {% for book in collections.books | reverse %}
            <div class="post">
                <a href="{{ book.url }}">
                    {{ book.data.title }}
                </a>
            </div>
        {% endfor %}
    </div>
</div>