<div class="c--bg-gray-1 l--pad-s">

  <p class="l--mar-none">
    <strong>Join the mailing list</strong> I'll send new posts to your inbox, along with links to related content and a song recommendation.
  </p>

  <form class="email-form" name="newsletter" method="POST" data-netlify="true" netlify-honeypot="bot-field">
      <div hidden aria-hidden="true">
          <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
      </div>
      <label for="email">Your email address</label>
      <div class="l--row">
        <input class="l--col-twothirds" type="email" name="email" placeholder="Email"  id="email" required />
        <button class="button button--primary l--col-third l--mar-left-s" type="submit">Subscribe</button>
      </div>
  </form>

</div>